<h1>Editing inventory</h1>

<% form_for(@inventory) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :copies %><br />
    <%= f.text_field :copies %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @inventory %> |
<%= link_to 'Back', inventories_path %>
