<h1>Editing inventory</h1>

<% form_for(@inventory) do |f| %>
  <%= f.error_messages %>
	<table>
	<tr>
  <td>
    <%= f.label :card_id %>
	</td>
	<td>
   	<%= collection_select(:inventory, :card_id, Card.all, :id, :spanish_name) %>
	</td>
  </tr>
	<tr>
  <td>
    <%= f.label :copies %>
	</td>
	<td>
    <%= f.text_field :copies %>
	</td>
  </tr>
	<table>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @inventory %> |
<%= link_to 'Back', inventories_path %>
