<h1>Editing block</h1>

<% form_for(@block) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @block %> |
<%= link_to 'Back', blocks_path %>
