<h1>New card</h1>

<% form_for(@card) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :english_name %><br />
    <%= f.text_field :english_name %>
  </p>
  <p>
    <%= f.label :spanish_name %><br />
    <%= f.text_field :spanish_name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', cards_path %>
